<mat-toolbar>
  <button mat-icon-button (click)="leftDrawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Component Craft</span>
  <span class="example-spacer"></span>
   <!-- Button to Trigger Spinning Effect -->
   <button mat-icon-button (click)="toggleShaktimanSpin()">
    <mat-icon matTooltip="Shaktiman Effect">sync</mat-icon>
  </button>

  <button mat-icon-button (click)="toggleFlip()">
    <mat-icon matTooltip="Flipping Effect">sync</mat-icon>
  </button>

  <button mat-icon-button (click)="rightDrawer.toggle()">
    <mat-icon matTooltip="select a theme">format_color_fill</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="sidenav-container" [ngClass]="{'shaktiman-spin': isSpinning, 'flipped': isFlipped}" autosize>
  <!-- left drawer -->
  <mat-drawer #leftDrawer class="left-drawer">
    <ng-container *ngFor="let route of menuItems">
      <button mat-button [routerLink]="route.path" class="menu-button">
        {{ capitalizeFirstLetter(route.path) }}
      </button>
    </ng-container>
  </mat-drawer>

  <!-- Right drawer -->
  <mat-drawer #rightDrawer class="right-drawer" position="end">
    <ng-container *ngFor="let theme of themes">
      <button mat-button (click)="applyTheme(theme.themeName)" class="theme-button">
        <div class="theme-item" [matTooltip]="theme.tooltip" matTooltipPosition="right">
          <span class="half-circle"
            [ngStyle]="{'--left-color': theme.leftColor, '--right-color': theme.rightColor}"></span> &nbsp;
          <span>{{ theme.label }}</span>
        </div>
      </button><br>
    </ng-container>
  </mat-drawer>

  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>

<mat-toolbar></mat-toolbar>
  