<app-sticky-card title="Button works!"></app-sticky-card>

<mat-card class="card-container">

  <p class="tab-label">Basic buttons</p>
  <div class="div-container">
    <mat-tab-group animationDuration="0ms" class="mat-tab-section">
      <mat-tab label="Design">
        <div class="design-tab">
          <div class="button-design">
            <button mat-button>
              <mat-icon>code</mat-icon> Compile Me!
            </button>
            <button mat-button disabled>
              <mat-icon>bug_report</mat-icon> Out of Lifecycle!
            </button>
            <a mat-button href="https://www.angular.io/" target="_blank">
              <mat-icon>launch</mat-icon> To the Docs!
            </a>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Code">
        <app-code-tab-design [HtmlCodeToCopy]="HtmlCodeToCopy1" [CSSCodeToCopy]="CSSCodeToCopy1"
          [TsCodeToCopy]="TsCodeToCopy1"></app-code-tab-design>
      </mat-tab>
    </mat-tab-group>
  </div>

  <p class="tab-label">Raised buttons</p>
  <div class="div-container">
    <mat-tab-group animationDuration="0ms" class="mat-tab-section">
      <mat-tab label="Design">
        <div class="design-tab">
          <div class="button-design">
            <button mat-raised-button>
              <mat-icon>upgrade</mat-icon> Raise an Event!
            </button>&nbsp;
            <button mat-raised-button disabled>
              <mat-icon>remove_circle_outline</mat-icon> Detached View
            </button>&nbsp;
            <a mat-raised-button href="https://rxjs.dev/" target="_blank">
              <mat-icon>timeline</mat-icon> RxJS Adventure
            </a>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Code">
        <app-code-tab-design [HtmlCodeToCopy]="HtmlCodeToCopy2" [CSSCodeToCopy]="CSSCodeToCopy2"
          [TsCodeToCopy]="TsCodeToCopy2"></app-code-tab-design>
      </mat-tab>
    </mat-tab-group>
  </div>

  <p class="tab-label">Stroked buttons</p>
  <div class="div-container">
    <mat-tab-group animationDuration="0ms" class="mat-tab-section">
      <mat-tab label="Design">
        <div class="design-tab">
          <div class="button-design">
            <button mat-stroked-button>
              <mat-icon>extension</mat-icon> No Scope Here!
            </button>&nbsp;
            <button mat-stroked-button disabled>
              <mat-icon>error_outline</mat-icon> Template Broken
            </button>&nbsp;
            <a mat-stroked-button href="https://angular.io/cli" target="_blank">
              <mat-icon>build</mat-icon> Run ng new
            </a>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Code">
        <app-code-tab-design [HtmlCodeToCopy]="HtmlCodeToCopy3" [CSSCodeToCopy]="CSSCodeToCopy3"
          [TsCodeToCopy]="TsCodeToCopy3"></app-code-tab-design>
      </mat-tab>
    </mat-tab-group>
  </div>

  <p class="tab-label">Flat buttons</p>
  <div class="div-container">
    <mat-tab-group animationDuration="0ms" class="mat-tab-section">
      <mat-tab label="Design">
        <div class="design-tab">
          <div class="button-design">
            <button mat-flat-button>
              <mat-icon>horizontal_split</mat-icon> Flat Out Awesome
            </button>&nbsp;
            <button mat-flat-button disabled>
              <mat-icon>pan_tool</mat-icon> Flattened Directive
            </button>&nbsp;
            <a mat-flat-button href="https://angular.io/errors" target="_blank">
              <mat-icon>search</mat-icon> Find My Error
            </a>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Code">
        <app-code-tab-design [HtmlCodeToCopy]="HtmlCodeToCopy4" [CSSCodeToCopy]="CSSCodeToCopy4"
          [TsCodeToCopy]="TsCodeToCopy4"></app-code-tab-design>
      </mat-tab>
    </mat-tab-group>
  </div>

  <p class="tab-label">Icon buttons</p>
  <div class="div-container">
    <mat-tab-group animationDuration="0ms" class="mat-tab-section">
      <mat-tab label="Design">
        <div class="design-tab">
          <div class="button-design">
            <button mat-icon-button aria-label="Menu icon for Angular navigation">
              <mat-icon>dynamic_feed</mat-icon>
            </button>&nbsp;
            <button mat-icon-button disabled aria-label="Visibility off for debugging">
              <mat-icon>visibility_off</mat-icon>
            </button>&nbsp;
            <button mat-icon-button aria-label="Icon button for compilation">
              <mat-icon>code</mat-icon>
            </button>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Code">
        <app-code-tab-design [HtmlCodeToCopy]="HtmlCodeToCopy5" [CSSCodeToCopy]="CSSCodeToCopy5"
          [TsCodeToCopy]="TsCodeToCopy5"></app-code-tab-design>
      </mat-tab>
    </mat-tab-group>
  </div>

  <p class="tab-label">FAB buttons</p>
  <div class="div-container">
    <mat-tab-group animationDuration="0ms" class="mat-tab-section">
      <mat-tab label="Design">
        <div class="design-tab">
          <div class="button-design">
            <button mat-fab aria-label="FAB button for ngDestroy lifecycle">
              <mat-icon>delete</mat-icon> 
            </button>&nbsp;
            <button mat-fab disabled aria-label="FAB button for broken dependencies">
              <mat-icon>link</mat-icon>
            </button>&nbsp;
            <button mat-fab aria-label="FAB button for Angular modules">
              <mat-icon>build</mat-icon>
            </button>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Code">
        <app-code-tab-design [HtmlCodeToCopy]="HtmlCodeToCopy6" [CSSCodeToCopy]="CSSCodeToCopy6"
          [TsCodeToCopy]="TsCodeToCopy6"></app-code-tab-design>
      </mat-tab>
    </mat-tab-group>
  </div>

  <p class="tab-label">Mini FAB buttons</p>
  <div class="div-container">
    <mat-tab-group animationDuration="0ms" class="mat-tab-section">
      <mat-tab label="Design">
        <div class="design-tab">
          <div class="button-design">
            <button mat-mini-fab aria-label="Mini FAB for Angular routing">
              <mat-icon>router</mat-icon>
            </button>&nbsp;
            <button mat-mini-fab aria-label="Mini FAB for Angular templates">
              <mat-icon>view_compact</mat-icon>
            </button>&nbsp;
            <button mat-mini-fab aria-label="Mini FAB for Angular data binding">
              <mat-icon>sync</mat-icon>
            </button>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Code">
        <app-code-tab-design [HtmlCodeToCopy]="HtmlCodeToCopy7" [CSSCodeToCopy]="CSSCodeToCopy7"
          [TsCodeToCopy]="TsCodeToCopy7"></app-code-tab-design>
      </mat-tab>
    </mat-tab-group>
  </div>

  <p class="tab-label">Extended FAB buttons</p>
  <div class="div-container">
    <mat-tab-group animationDuration="0ms" class="mat-tab-section">
      <mat-tab label="Design">
        <div class="design-tab">
          <div class="button-design">
            <button mat-fab extended>
              <mat-icon>favorite</mat-icon> Love Angular
            </button>&nbsp;
            <button mat-fab extended disabled>
              <mat-icon>hourglass_empty</mat-icon> Waiting for Change
            </button>&nbsp;
            <a mat-fab extended routerLink=".">
              <mat-icon>router</mat-icon> Extend My Route
            </a>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Code">
        <app-code-tab-design [HtmlCodeToCopy]="HtmlCodeToCopy8" [CSSCodeToCopy]="CSSCodeToCopy8"
          [TsCodeToCopy]="TsCodeToCopy8"></app-code-tab-design>
      </mat-tab>
    </mat-tab-group>
  </div>
</mat-card>
