<mat-tab-group animationDuration="0ms" mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="HTML">
        <div class="tab-content-wrapper">
            <h3>
                <pre><code class="gradient-text">{{ HtmlCodeToCopy }}</code></pre>
            </h3>
            <button mat-button color="primary" (click)="copyCodeSection('html')" class="copy-button">
                {{ isCopied ? 'Copied!' : 'Copy Code' }}
            </button>
        </div>
    </mat-tab>

    <mat-tab label="TS">
        <div class="tab-content-wrapper">
            <h3>
                <pre><code class="gradient-text">{{ TsCodeToCopy }}</code></pre>
            </h3>
            <button mat-button color="primary" (click)="copyCodeSection('ts')" class="copy-button">
                {{ isCopied ? 'Copied!' : 'Copy Code' }}
            </button>
        </div>
    </mat-tab>

    <mat-tab label="CSS">
        <div class="tab-content-wrapper">
            <h3>
                <pre><code class="gradient-text">{{ CSSCodeToCopy }}</code></pre>
            </h3>
            <button mat-button color="primary" (click)="copyCodeSection('css')" class="copy-button">
                {{ isCopied ? 'Copied!' : 'Copy Code' }}
            </button>
        </div>
    </mat-tab>
</mat-tab-group>