.card-container {
  padding: 20px;
  margin: 0;
  width: 100%;
  border-radius: 0 0 10px 10px;
}

.div-container{
  border: 2px solid #dedddd;
  border-radius: 10px;
  margin: 5px 0 5px 0;
}

.mat-tab-section{
  padding: 10px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}



